---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<p>I enjoy giving talks to help further awareness and knowledge about AI to different developer groups and disciplines. I regularly do so at Google-affiliated and Linux Foundation-affiliated events as a <a href="https://developers.google.com/profile/u/suvadityamuk">Google Developer Expert for AI and Google Cloud</a>.</p>
<p>All of them are listed below. Some highlighted prestigious talks are mentioned with an asterisk (*).</p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
